<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychotherapist</title>
    <link rel="stylesheet" href="../css/expertise.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Norah Horowitz, Ph.D.</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../index.html#expertise">Services</a>
            <a href="../view/expertise.html">Areas of Expertise</a>
            <a href="#myapproach">My Approach</a>
            <a href="../view/podcast.html">Podcast</a>
            <a href="../index.html#contact">Contact</a>
        </nav>
    </header>
 

    <section class="contact">
        <div class="container">
            <div class="image-container">
                <img src="../images/tree.png" alt="Plant">
            </div>
            <div class="content-container">
                <div class="content-conatiner-wrapper">
                <h2>Areas of Expertise</h2>
                <h2>Counselling</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                <h2>Cognitive Behavioural Therapy</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                <h2>Psychotherapy</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
            </div>
            </div>
        </div>
    </section>

    <div class="myapproach" id="myapproach">
        <div class="myapproach-container">
            <div class="data-container">
                <div class="data-container-wrapper">
                    <h2>My Approach</h2>
                    <p>
                        I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
                    </p>
                     <P>
                        This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
                     </P> 
                     <p>
                        At Wix we’re passionate about making templates that allow you to build fabulous websites and it’s all thanks to the support and feedback from users like you! Keep up to date with New Releases and what’s Coming Soon in Wix ellaneous in Support. Feel free to tell us what you think and give us feedback in the Wix Forum. If you’d like to benefit from a professional designer’s touch, head to the Wix Arena and connect with one of our Wix Pro designers. Or if you need more help you can simply type your questions into the Support Forum and get instant answers. To keep up to date with everything Wix, including tips and things we think are cool, just head to the Wix Blog!
                     </p>             
                </div>

            </div>

            <div class="image-approach">
                <img src="../images/pot.png" alt="pot">
            </div>
        </div>

    </div>
    
    <footer>
        <p>© 2035 by Norah Horowitz, Ph.D. Powered and secured by J36</p>
    </footer>
</body>
</html>
