<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychotherapist</title>
    <link rel="stylesheet" href="../css/podcast.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Norah Horowitz, Ph.D.</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../index.html#expertise">Services</a>
            <a href="../view/expertise.html">Areas of Expertise</a>
            <a href="./expertise.html#myapproach">My Approach</a>
            <a href="../view/podcast.html">Podcast</a>
            <a href="../index.html#contact">Contact</a>
        </nav>
    </header>
 
    <div class="container">
        <div class="podcast">
            <h2>Mental Health with Norah Horowitz, Ph.D</h2>
            <p>A Psychotherapy Podcast</p>
            <p>All the info, audio or video that's needed to show and play your podcast episodes is contained in the RSS feed. Head to Settings and connect your podcast's RSS feed.</p>

            <div class="search-bar">
                <svg height="20px" width="20px" viewBox="0 0 14 14" class="search-icon"><path d="m10.667 9.655 2.927 2.955a.699.699 0 0 1 -.004.988.686.686 0 0 1 -.97-.005l-2.927-2.955zm-4.744 2.145c-3.271 0-5.923-2.64-5.923-5.9 0-3.258 2.652-5.9 5.923-5.9 3.272 0 5.924 2.642 5.924 5.9 0 3.259-2.652 5.9-5.924 5.9zm0-1.073c2.677 0 4.847-2.16 4.847-4.827 0-2.666-2.17-4.827-4.847-4.827-2.676 0-4.846 2.161-4.846 4.827s2.17 4.827 4.846 4.827z" fill="currentColor"></path></svg>
                <input type="text" placeholder="Search podcast...">
            </div>

            <div class="episode">
                <div class="episode-image">
                    <img src="../images/gridleave.png" alt="Episode 04">
                    <div class="play-icon">&#9658;</div>
                </div>
                <div class="episode-details">
                    <h3>Episode 04: Cognitive Flexibility</h3>
                    <p>9/29/2023 | 10 min <span class="latest-episode">Latest Episode</span></p>
                    <p>Do you have video episodes in your podcast? Any podcast episodes will get a video player.</p>
                </div>
            </div>

            <div class="episode">
                <div class="episode-image">
                    <img src="../images/gridleave.png"" alt="Episode 03">
                    <div class="play-icon">&#9658;</div>
                </div>
                <div class="episode-details">
                    <h3>Episode 03: Dealing with Anger</h3>
                    <p>9/15/2023 | 12 min</p>
                    <p>Any changes you make to your podcast, like adding or editing an episode, will automatically be updated on your player.</p>
                </div>
            </div>

            <div class="episode">
                <div class="episode-image">
                    <img src="../images/gridleave.png" alt="Episode 02">
                    <div class="play-icon">&#9658;</div>
                </div>
                <div class="episode-details">
                    <h3>Episode 02: Dark Souls</h3>
                    <p>9/1/2023 | 5 min</p>
                    <p>Every episode automatically gets its own page. Visitors can watch, listen and download each episode.</p>
                </div>
            </div>

            <div class="episode">
                <div class="episode-image">
                    <img src="../images/gridleave.png" alt="Episode 01">
                    <div class="play-icon">&#9658;</div>
                </div>
                <div class="episode-details">
                    <h3>Episode 01: Nurture Your Relationships</h3>
                    <p>8/18/2023 | 21 min</p>
                    <p>Customize the look and feel of the player to match your site. Your podcast will look and sound awesome!</p>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <p>© 2035 by Norah Horowitz, Ph.D. Powered and secured by J36</p>
    </footer>
</body>
</html>
